name: {{ project_name }}

services:
  mlflow:
    image: "ghcr.io/mlflow/mlflow:V3.3.2"
    volumes:
      - ./mlflow.db:/mlflow/mlflow.db
      - ./mlruns:/mlflow/mlruns
    ports:
      - '127.0.0.1:5000:5000'
    networks:
      - appnet
    command: >
      mlflow server  --backend-store-uri sqlite:///mlflow.db  --default-artifact-root /mlflow/mlruns  --host 0.0.0.0  --port 5000

  {{ project_name }}:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: {{ project_name }}
    volumes:
      - .:/app
    environment:
      - ENV=development
    env_file:
      - .env
      - .env.docker
    ports:
      - '127.0.0.1:8000:8000'
    networks:
      - appnet
    command: uv run main.py

networks:
  appnet:
    driver: bridge
