cff-version: 1.2.0
message: "If you use this software, please cite it as below."
type: software
title: "{{project_name}}"
abstract: ""
authors:
  - name: ""
url: ""
repository-code: ""
license:
license-url: ""
preferred-citation:
  type: article
  title: ""
  authors:
    - given-names: ""
      family-names: ""
  journal: ""
  year:
  volume:
  start:
  end:
  url: ""
