"""The utils module provides utility functions for various tasks.

This module includes functions for data manipulation, file handling,
and other common operations that are useful across the project. It is
designed to be a general-purpose utility module, providing reusable
functions that can be used in different parts of the project.
"""

DEFAULT_DIVERGING_COLORMAP="PiYG"
DEFAULT_SEQUENTIAL_COLORMAP="Oranges"
DEFAULT_PERCEPTUALLY_UNIFORM_SEQUENTIAL_COLORMAP="inferno"
